{%extends "VASC Project.html"%}{% block title %}About{% endblock %}

{% block content %}


<body style ="background-color: #ecfdf5;">

<style>
h1 {
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%2310b981' fill-opacity='0.5'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
</style>

<h1 style="color:black;font-family:Monospace;text-align:center;font-size:400%;"><strong> Overview:</strong></h1>
<hr style="color:black;font-family:Monospace;text-align:center;font-size:400%;">


<img src="2022 VASC Internship" alt="2022 VASC Internship" style="float:right;width:42px;height:42px;">
<p style="color:black;font-family:Monospace;font-size:130%;"> Virtual Access to STEM Careers (VASC) is a technology rich, inquiry and problem-based curriculum de-signed to expose
    and stimulate student interest in marine, environmental, computer, and geological sciences.Focused on grades three
    through five, VASC builds academic momentum at the intermediate level to pre-pare students for STEM opportunities
    later in middle school and high school.  Aligned to Next GenerationScience Standards [NGSS 2010] and Common Core
    State Standards [Initiative et al. 2010], VASC immerses students in rigorous, high-interest learning modules where
    students are introduced and take on the roles and responsibilities of different STEM occupations.The proposed Virtual
    Access to STEM Careers (VASC) project entails developing and testing learning modules that synthesize cutting-edge
    virtual technologies and problem-based learning instructional practices to develop an innovative curriculum
    that:</p>
<p style="color:black;font-family:Monospace;text-align:center; font-size:110%;"><strong>&#187;removes the traditional barriers (e.g., lack of school resources; geographic distance; poverty; disability)
    separating under-served students from participating in authentic STEM learning opportunities </strong></p>
<p style="color:black;font-family:Monospace;text-align:center; font-size:110%;"><strong>&#187;sparks interest in pursuing a STEM career in marine, environmental, geological, and computer sciences </strong></p>
<p style="color:black;font-family:Monospace;text-align:center; font-size:110%;"><strong>&#187;embeds effective gamification and reward systems to increase and maintain motivation and focus </strong></p>
<p style="color:black;font-family:Monospace;text-align:center; font-size:110%;"><strong>&#187;ensures students have the academic foundation to transition to STEM coursework at the middle school level </strong></p>
<p style="color:black;font-family:Monospace;text-align:center; font-size:110%;"><strong>&#187;provides educators tools and professional development to effectively implement this innovative method of
    instruction.Partners of VASC will test and ameliorate the familiar challenges associated with instructional design
    and the use of virtual technologies to allow students to take on the roles and responsibilities of STEM occupations
    as they complete authentic, problem-based collaborative tasks set in immersive 3-D environments. </strong></p>
{% endblock %}