{%extends "VASC Project.html"%}{% block title %}About{% endblock %}

{% block content %}
<html>

  <body style ="background-color: #ecfdf5;">
    <head>
        <style>
          h1 {
          background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%2310b981' fill-opacity='0.5'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        }
        .button {

          display: inline-block
          border: 2px #ecfdf5
          padding: 10px;
          margin-bottom: 0;
          font-size: 14px
          font-weight: normal;
          text-align: center;
          cursor: pointer;
          color :black;


        }
        .btn-sm{
          padding: 5px 10px;
          font-size: 12px;
          border-radius: 3px
          color: black;
          background-color: #ecfdf5;
          border-color:#006400;
          float: tab;
        }
        </style>
    </head>
  </body>
  <body>
    <h1 style="color:#006400;font-family:Geneva;text-align:center;font-size:400%;"><strong> Overview</strong></h1>
    <hr style="color:#006400;font-family:Geneva;text-align:center;font-size:400%;">


    <img src="2022 VASC Internship.jpg" style="float:right;width:42px;height:42px;">
    <p style="color:black;font-family:Geneva;font-size:100%;"> <strong> Virtual Access to STEM Careers (VASC) is a technology rich, inquiry and problem-based curriculum de-signed to expose and stimulate student interest in marine, environmental, computer, and geological sciences. Focused on grades three through five, VASC builds academic momentum at the intermediate level to pre-pare students for STEM opportunities later in middle school and high school.  Aligned to Next GenerationScience Standards  and Common Core State Standards, VASC immerses students in rigorous, high-interest learning modules where students are introduced and take on the roles and responsibilities of different STEM occupations.The proposed Virtual Access to STEM Careers (VASC) project entails developing and testing learning modules that synthesize cutting-edge virtual technologies and problem-based learning instructional practices to develop an innovative curriculum that:</strong></p>


    <p style="color:black;font-family:Geneva;text-align:left; font-size:90%;"><strong>&#8226; Removes the traditional barriers (e.g., lack of school resources; geographic distance; poverty; disability) separating under-served students from participating in authentic STEM learning opportunities </strong></p>
    <p style="color:black;font-family:Geneva;text-align:left; font-size:90%;"><strong>&#8226; Sparks interest in pursuing a STEM career in marine, environmental, geological, and computer sciences</strong> </p>
    <p style="color:black;font-family:Geneva;text-align:left; font-size:90%;"><strong>&#8226; Embeds effective gamification and reward systems to increase and maintain motivation and focus</strong> </p>
    <p style="color:black;font-family:Geneva;text-align:left; font-size:90%;"><strong>&#8226; Ensures students have the academic foundation to transition to STEM coursework at the middle school level</strong> </p>
    <p style="color:black;font-family:Geneva;text-align:left; font-size:90%; "><strong>&#8226; Provides educators tools and professional development to effectively implement this innovative method of instruction.Partners of VASC will test and ameliorate the familiar challenges associated with instructional design and the use of virtual technologies to allow students to take on the roles and responsibilities of STEM occupations as they complete authentic, problem-based collaborative tasks set in immersive 3-D environments.</strong></p>

    <hr style="color:#006400;font-family:Geneva;text-align:center;font-size:400%;">
    <h3 style="color:#006400;font-family:Geneva;text-align:left;font-size:220%;"><strong> Project Goals:</strong> </h3>

    <p style="color:black;font-family:Geneva;font-size:100%;"><strong> Specific Project Goals as connected to the Logic Model(see Figure: 1) directly below include: </strong> </p>
    <p style="color:black;font-family:Geneva;text-align:left; font-size:90%;"><strong> &#8226;The development of Immersive Virtual Environments using input from conservationists and the educational team</strong></p>
    <p style="color:black;font-family:Geneva;text-align:left; font-size:90%;"><strong> &#8226;The development of a science/math curriculum that is accessible to students at-risk for academic failure and from diverse locations and backgrounds (e.g., poverty, disability, etc.)</strong></p>
    <p style="color:black;font-family:Geneva;text-align:left; font-size:90%;"><strong> &#8226;The creation and implementation of trainings on Immersive Virtual Environments for students.</strong></p>
    <p style="color:black;font-family:Geneva;text-align:left; font-size:90%;"><strong> &#8226;The assessment of technology using a multiple baseline design to determine effectiveness when com-pared to traditional hands-on STEM learning.</strong></p>

    <hr style="color:#006400;font-family:Geneva;text-align:center;font-size:400%;">
    <h3 style="color:#006400;font-family:Geneva;text-align:left;font-size:220%;"><strong> Community Partners:</strong> </h3>

    <p style="color:black;font-family:Geneva;font-size:100%;"><strong> Successful  completion  of  the  VASC  project  will  incorporate  many  experts  at  UNCW  as  well  as  members from our community partners: </strong> </p>
    <p style="color:black;font-family:Geneva;text-align:left; font-size:90%;"><strong> &#8226;Bald Head Island Conservancy &#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160 <a href = "https://bhic.org/" ><button class ="button btn-sm">More Info!</button></a></strong></p>
    <p style="color:black;font-family:Geneva;text-align:left; font-size:90%;"><strong> &#8226;Fort Fisher State Recreation Area &#160&#160&#160&#160&#160&#160 <a href = "https://www.ncparks.gov/fort-fisher-state-recreation-area/home" ><button class ="button btn-sm">More Info!</button></a></strong></p>
    <p style="color:black;font-family:Geneva;text-align:left; font-size:90%;"><strong> &#8226;MarineQuest &#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160 <a href = "https://uncw.edu/marinequest/#:~:text=MarineQuest%20is%20the%20official%20marine,and%20value%20our%20marine%20habitats." ><button class ="button btn-sm">More Info!</button></a></strong></p>
    <p style="color:black;font-family:Geneva;text-align:left; font-size:90%;"><strong> Our community partners are uniquely equipped to provide us with the necessary real world examples of numerous STEM careers, as well as allow us to use their many summer camps to recruit participants, conduct experiments and collect data.</strong></p>
  </body>
</html>
{% endblock %}