{%extends "VASC Project.html"%} {% block title %}Contributors{% endblock %}

{% block content %}
<html>
<style>
  h4 {
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%2310b981' fill-opacity='0.5'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
  .name {
    color:#006400;
    font-family:Geneva;
    text-align:center;
    font-size:100%;
    }
  .name1 {
    color:#006400;
    font-family:Geneva;
    text-align:center;
    font-size:190%;
    }
</style>
  <body>
    <h1 style = "text-align:center;"><strong class = "name1" > Contributors:</strong></h1>

    <hr style="color:#006400;font-family:Geneva;text-align:center;font-size:400%;">



    <p style="text-align:center; color:black;font-family:Geneva;font-size:100%; line-height: 2;"> <strong>   Since the start of the VASC project, the success has been co-dependent on two components.  </strong></p>


    <p style="color:#006400;font-family:Geneva;text-align:center; font-size:110%; line-height: 2;"><strong>The first, being the like-minded professors here at the University of North Carolina at Wilmington. </strong></p>
    <p style="color:black;font-family:Geneva;text-align:center; font-size:90%; line-height: 2;"><strong>Since 2018, these individuals have worked diligently towards grant proposals to fund the project. They have networked out to community partners, such as Bald Head Island Conservancy, Fort Fisher State Recreation Area and MarineQuest. Not only have they reached out to community partners, but local elementary schools to be able to acquire constructive feedback on the project. These professors have assisted with Software Development and has offered forty-eight students, graduate and undergrad from the university, an incredible learning opportunity outside the classroom at the Extended Reality Lab as a Research Assistant. </strong> </p>

<img src="{{url_for('static',filename = 'pics/researchTeam1.JPG')}}" style="display: block; margin-left: auto ; margin-right: auto ; width:500px;height:300px;"/>
     <p style="color:black;font-family:Geneva;text-align:center; font-size:90%;"><strong> Back Line: Amelia Moody | Toni Pence | James Stocker <br> Front Line: Ellie Ebrahimi | Brittany Morago | Amy Taylor  </strong> </p>

    <hr style="color:#006400;font-family:Geneva;text-align:center;font-size:400%;">




     <p style="color:#006400;font-family:Geneva;text-align:center; font-size:110%; line-height: 2;"><strong>The second component are the Research Assistants  </strong></p>


    <p style="color:black;font-family:Geneva;text-align:center; font-size:90%; line-height: 2;"><strong> The group of Research Assistants (RAs) have worked together sedulously in order expand their knowledge in applications such as, Unity, GIT, GitHub and Slack. The RAs handle the daily task of the VASC Sea Turtle Research Project. Working in the Extended Reality Lab, RAs have become skilled in VR, game design, web development, marketing, leadership and public speaking.  </strong></p>
    <p style="color:#006400;font-family:Geneva;text-align:center; font-size:200%;"><strong> 2022 Research Assistants </strong></p>
    <img src="{{url_for('static',filename = 'pics/2022 VASC Internship.jpg')}}" style="display: block; margin-left: auto ; margin-right: auto ; width:500px;height:300px;"/>
    <p style="color:black;font-family:Geneva;text-align:center; font-size:90%;"><strong> (UG) -- Undergrad | (G) -- Graduate</strong></p>
    <p style="color:black;font-family:Geneva;text-align:center; font-size:90%;"><strong> Top Line: (G) Bryce Adkins | (UG) Evan Perez-Navarro | (UG) Dylan Kegeris | (UG) Anna Prewitt | (UG) David Hollock | (UG) Brennon Treadwell | (UG) Austin Whittaker  <br> Bottom Line: (UG) Nicholas Brunsink | (UG) Ethan Harris | (G) Blake Blackport | (UG) Andrew Lawson | (UG) Teuta Salihu | (UG) Noah Clark | (UG) Ethan Boone  </strong> </p>



    <p style="color:black;font-family:Geneva;text-align:left; font-size:90%;"><strong> put info here</strong></p>

    <hr style="color:#006400;font-family:Geneva;text-align:center;font-size:400%;">
    <h3 style="color:#006400;font-family:Geneva;text-align:left;font-size:220%;"><strong> put info here:</strong> </h3>

    <p style="color:black;font-family:Geneva;font-size:100%;"><strong>put info here </strong> </p>
    <p style="color:black;font-family:Geneva;text-align:left; font-size:90%;"><strong> put info here</strong></p>
    <p style="color:black;font-family:Geneva;text-align:left; font-size:90%;"><strong> put info here</strong></p>
    <p style="color:black;font-family:Geneva;text-align:left; font-size:90%;"><strong> put info here</strong></p>
    <p style="color:black;font-family:Geneva;text-align:left; font-size:90%;"><strong> put info here</strong></p>
  </body>
</html>
{% endblock %}