{%extends "VASC Project.html"%} {% block title %}Photo Gallery{% endblock %}

{% block content %}

<html>
<style>
    .photo-gallery {
  color:#313437;
  background-color:#ecfdf5;
}

.photo-gallery p {
  color:#7d8285;
}

.photo-gallery h2 {
  font-weight:bold;
  margin-bottom:40px;
  padding-top:40px;
  color:inherit;
}

@media (max-width:767px) {
  .photo-gallery h2 {
    margin-bottom:25px;
    padding-top:25px;
    font-size:24px;
  }
}

.photo-gallery .intro {
  font-size:16px;
  max-width:500px;
  margin:0 auto 40px;
}

.photo-gallery .intro p {
  margin-bottom:0;
}

.photo-gallery .photos {
  padding-bottom:20px;
}

.photo-gallery .item {
  padding-bottom:30px;
}
.name1 {
    color:#006400;
    font-family:Geneva;
    text-align:center;
    font-size:190%;
    }

</style>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
</head>

<body>
    <div class="photo-gallery">
        <div class="container">
            <div class="intro">
               <h1 style = "text-align:center;"><strong class = "name1" > Photo Gallery:</strong></h1>

            </div>
            <div class="row photos">

                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{{url_for('static',filename = 'pics/20220615_113902.jpg')}}" data-lightbox="photos"><img class="img-fluid" src="{{url_for('static',filename = 'pics/20220615_113902.jpg')}}"></a></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{{url_for('static',filename = 'pics/20220615_100426.jpg')}}" data-lightbox="photos"><img class="img-fluid" src="{{url_for('static',filename = 'pics/20220615_100426.jpg')}}"></a></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{{url_for('static',filename = 'pics/DSC_0008.JPG')}}" data-lightbox="photos"><img class="img-fluid" src="{{url_for('static',filename = 'pics/DSC_0008.JPG')}}"></a></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{{url_for('static',filename = 'pics/DSC_0026.JPG')}}" data-lightbox="photos"><img class="img-fluid" src="{{url_for('static',filename = 'pics/DSC_0026.JPG')}}"></a></div>


                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{{url_for('static',filename = 'pics/20220615_120246.jpg')}}" data-lightbox="photos"><img class="img-fluid" src="{{url_for('static',filename = 'pics/20220615_120246.jpg')}}"></a></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{{url_for('static',filename = 'pics/20220615_113539.jpg')}}" data-lightbox="photos"><img class="img-fluid" src="{{url_for('static',filename = 'pics/20220615_113539.jpg')}}"></a></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{{url_for('static',filename = 'pics/20220615_113604.jpg')}}" data-lightbox="photos"><img class="img-fluid" src="{{url_for('static',filename = 'pics/20220615_113604.jpg')}}"></a></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{{url_for('static',filename = 'pics/20220615_113636.jpg')}}" data-lightbox="photos"><img class="img-fluid" src="{{url_for('static',filename = 'pics/20220615_113636.jpg')}}"></a></div>


                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{{url_for('static',filename = 'pics/DSC_0383.JPG')}}" data-lightbox="photos"><img class="img-fluid" src="{{url_for('static',filename = 'pics/DSC_0383.JPG')}}"></a></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{{url_for('static',filename = 'pics/DSC_0393.JPG')}}" data-lightbox="photos"><img class="img-fluid" src="{{url_for('static',filename = 'pics/DSC_0393.JPG')}}"></a></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{{url_for('static',filename = 'pics/DSC_0398.JPG')}}" data-lightbox="photos"><img class="img-fluid" src="{{url_for('static',filename = 'pics/DSC_0398.JPG')}}"></a></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{{url_for('static',filename = 'pics/DSC_0402.JPG')}}" data-lightbox="photos"><img class="img-fluid" src="{{url_for('static',filename = 'pics/DSC_0402.JPG')}}"></a></div>


                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{{url_for('static',filename = 'pics/20220615_121739_01.jpg')}}" data-lightbox="photos"><img class="img-fluid" src="{{url_for('static',filename = 'pics/20220615_121739_01.jpg')}}"></a></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{{url_for('static',filename = 'pics/20220220615_122205.jpg')}}" data-lightbox="photos"><img class="img-fluid" src="{{url_for('static',filename = 'pics/20220615_122205.jpg')}}"></a></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{{url_for('static',filename = 'pics/20220615_122927.jpg')}}" data-lightbox="photos"><img class="img-fluid" src="{{url_for('static',filename = 'pics/20220615_122927.jpg')}}"></a></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{{url_for('static',filename = 'pics/20220615_125228.jpg')}}" data-lightbox="photos"><img class="img-fluid" src="{{url_for('static',filename = 'pics/20220615_125228.jpg')}}"></a></div>

                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{{url_for('static',filename = 'pics/DSC_0035.JPG')}}" data-lightbox="photos"><img class="img-fluid" src="{{url_for('static',filename = 'pics/DSC_0035.JPG')}}"></a></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{{url_for('static',filename = 'pics/DSC_0088.JPG')}}" data-lightbox="photos"><img class="img-fluid" src="{{url_for('static',filename = 'pics/DSC_0088.JPG')}}"></a></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{{url_for('static',filename = 'pics/DSC_0097.JPG')}}" data-lightbox="photos"><img class="img-fluid" src="{{url_for('static',filename = 'pics/DSC_0097.JPG')}}"></a></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{{url_for('static',filename = 'pics/DSC_0156.JPG')}}" data-lightbox="photos"><img class="img-fluid" src="{{url_for('static',filename = 'pics/DSC_0156.JPG')}}"></a></div>

                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{{url_for('static',filename = 'pics/DSC_0190.JPG')}}" data-lightbox="photos"><img class="img-fluid" src="{{url_for('static',filename = 'pics/DSC_0190.JPG')}}"></a></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{{url_for('static',filename = 'pics/DSC_0209.JPG')}}" data-lightbox="photos"><img class="img-fluid" src="{{url_for('static',filename = 'pics/DSC_0209.JPG')}}"></a></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{{url_for('static',filename = 'pics/DSC_0215.JPG')}}" data-lightbox="photos"><img class="img-fluid" src="{{url_for('static',filename = 'pics/DSC_0215.JPG')}}"></a></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{{url_for('static',filename = 'pics/DSC_0239.JPG')}}" data-lightbox="photos"><img class="img-fluid" src="{{url_for('static',filename = 'pics/DSC_0239.JPG')}}"></a></div>

                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{{url_for('static',filename = 'pics/DSC_0190.JPG')}}" data-lightbox="photos"><img class="img-fluid" src="{{url_for('static',filename = 'pics/DSC_0190.JPG')}}"></a></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{{url_for('static',filename = 'pics/DSC_0209.JPG')}}" data-lightbox="photos"><img class="img-fluid" src="{{url_for('static',filename = 'pics/DSC_0209.JPG')}}"></a></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{{url_for('static',filename = 'pics/DSC_0215.JPG')}}" data-lightbox="photos"><img class="img-fluid" src="{{url_for('static',filename = 'pics/DSC_0215.JPG')}}"></a></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{{url_for('static',filename = 'pics/DSC_0239.JPG')}}" data-lightbox="photos"><img class="img-fluid" src="{{url_for('static',filename = 'pics/DSC_0239.JPG')}}"></a></div>

                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{{url_for('static',filename = 'pics/DSC_0363.JPG')}}" data-lightbox="photos"><img class="img-fluid" src="{{url_for('static',filename = 'pics/DSC_0363.JPG')}}"></a></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{{url_for('static',filename = 'pics/DSC_0365.JPG')}}" data-lightbox="photos"><img class="img-fluid" src="{{url_for('static',filename = 'pics/DSC_0365.JPG')}}"></a></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{{url_for('static',filename = 'pics/DSC_0366.JPG')}}" data-lightbox="photos"><img class="img-fluid" src="{{url_for('static',filename = 'pics/DSC_0366.JPG')}}"></a></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{{url_for('static',filename = 'pics/DSC_0372.JPG')}}" data-lightbox="photos"><img class="img-fluid" src="{{url_for('static',filename = 'pics/DSC_0372.JPG')}}"></a></div>



            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
</body>

</html>
{% endblock %}
